<h1 style="text-align:center">Booking</h1>

<h2>Flight</h2>

<span>
  <strong>Departing From: </strong><%= @flight.from_airport.code %>,
  <strong>Arriving At: </strong><%= @flight.to_airport.code %>,
  <strong>Departure Date: </strong><%= @flight.departure %>,
  <strong>Flight Duration: </strong><%= @flight.flight_duration %>,
  <strong>Flight Price: </strong>$<%= @flight.price %>
</span><br/>

<h2>Passenger</h2>

<% @booking.passengers.each do |passenger| %>
  <span>
    <strong>Name: </strong><%= passenger.name %>
    <strong>Email: </strong><%= passenger.email %>
  </span><br/>
<% end %>
